#monBouton {
  transition: background-color 0.3s ease;
}

#monText {
  transition: opacity 1s ease;
}

#monBouton:hover {
  background-color: transparent;
}

#monBouton:hover + #monText {
  opacity: 0;
  transition: opacity 0s ease;
}