@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kinetika_regular";
  src: local("Kinetika-Regural"), url("./assets/font/Kinetika-Regular.ttf"),
    format("truetype");
}

@font-face {
  font-family: "kinetika_bold";
  src: local("Kinetika-Black"), url("./assets/font/Kinetika-Black.ttf"),
    format("truetype");
}
